body {
  background-color: #202040;
}

/*      #io {
  display: flex;
}*/

/*      #css {
  border: none;

  color: white;
}*/

h1 {
  font-family: sans-serif;
  background: -webkit-linear-gradient(#ff6363, #ffbd69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#input {
  position: relative;
  height: 30rem;
  padding: 0;
  border: none;
  margin: 2rem 0;
}

#input #css,
#input #highlighted-css {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 40%;
  padding: 0.5em;
  border: 1px solid black;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: monospace;
  white-space: pre;
  word-wrap: break-word;
}

#input #css {
  z-index: 1;
  color: transparent;
  caret-color: black;
  background-color: transparent;
}

#input #highlighted-css {
  z-index: 0;
  background-color: #111122;
  color: white;
}
