body {
  background-color: #202040;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  height: 100px;
}

#io {
  flex-grow : 1;
}

h1 {
  font-family: sans-serif;
  background: -webkit-linear-gradient(#ff6363, #ffbd69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#input {
  position: relative;
  height: 100%;
  width: 40%;
  padding: 0;
  border: none;
  margin: 2rem 0;
  overflow: hidden;
  resize: horizontal;
}

#input #css,
#input #highlighted-css,
#input #html {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  padding: 0.5em;
  border: 1px solid black;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: monospace;
  white-space: pre;
  word-wrap: break-word;
  width: 100%;
}

#input #css {
  z-index: 1;
  color: transparent;
  caret-color: white;
  background-color: transparent;
}

#input #highlighted-css,
#input #html {
  z-index: 0;
  background-color: #111122;
  color: white;
}
